body{
    background-color:#1b1b1b;
    width:100%;
    margin: 0;
    padding: 0;


}
html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */
}

#container{
    margin:auto;
    width:970px;



}
a{
    text-decoration:none;
}
#cont-header{
    width: 100%;
    background-color:#ffffff;
    position: fixed;
    z-index: 99;
}

header, footer{
  width:970px;
  height:100px;
  margin: 0 auto;
}




header #Logo{
    margin-top:17px;
    float:left;



}
header #TextMenu{

    margin-left: 882px;
    margin-top: -38px;
    float: left;
    font-family: 'museo_sans500';

}
header #MenuIcon{
   margin-top: -40px;
    float: right;


}
.Menu{
    width:400px;
    margin: auto;
    display:none;

}

.Menu li{
    color:#ffffff;
    size:20px;

}
.slider {
    width:100%;
    height:500px;
    overflow:hidden;
    margin: 0;

    position:relative;





}


#slider2{

width: 725px;
height: 500px;
overflow: hidden;
position:absolute;
margin:auto;

}



.slide
{
    width:725px;
    height:500px;
    margin-top: 100px;
    float:left;
    <!--600px-->

}



.slider #Fondo{

    position: absolute;
    z-index: 1;
    margin-left: 705px;
    margin-top:100px;
}

.slider #VerMas{
    position: absolute;
    z-index: 2;
    margin-left: 750px;
    margin-top: 436px;
    float: left;


}
.slider #Left{
    position: absolute;
    z-index: 2;
    margin-left: 961px;
    margin-top: 416px;
    float: right;
}
.slider #Right{
    position: absolute;
    z-index: 2;
    margin-left: 995px;
    margin-top: 416px;
    float: right;
}

.intro {
    width:100%;


}
.anas #Rectangulo{

    margin-top:95px;

}

.anas #Texto
{
    margin-left:3%;
    color:#ffffff;
    font-family: "museo_sans500";
    font-size: xx-large;

}
.textos
{
    margin-left:20px;
    color:#ffffff;
    font-family: 'museo_sans300';

}


.anas #AFrank, #AVinocur, #HBrady{

    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    transition: background-image 1s ease-in-out;
    z-index:0;
    margin-top:100px;

}





.anas #AFrank{
   margin-top:100px;


}


.anas #AVinocur{

    margin-left:75px;
    margin-top:100px;

}

.anas #HBrady{
   margin-top:100px;
   margin-left:62px;


}


.nombres {

    width:970px;
    color:#b9b9b9;
    position:absolute;
    margin-top:27px;
    font-family: 'museo_sans500';
    line-height:32px;

}

.nombres #NFrank{
   margin-left:80px;
}

.nombres #NVinocur{

    margin-left:220px;


}

.nombres #NBrady{
    margin-left:180;
}

.textos {

    color:#b9b9b9;
    font-size:16px;
    font-family: 'museo_sans300';
    margin-top:60px;
    line-height:24px;
    text-align-last:center;


}

.textos #TFrank{
    float:left;
    margin-left:15px;
    text-align: center;
}

.textos #TVinocur{
  float:left;
  margin-left: 127px;
  text-align: center;
}

.textos #TBrady{
    float:left;
    margin-left: 96px;
    text-align: center;


}



.etapas{
    float:none;

    position:absolute;
    margin-top:100px;
    width:100%;
    height: 500;
}

.etapas #Rect{
    float:none;




}

.etapas #TextoE{
    float:none;
    font-family: "museo_sans500";
    color:#ffffff;
    margin-left:3%;
    font-size: xx-large;

}

.etapas #e1{
    margin-top:9%;
    margin-left:50px;
    float:left
}

.etapas #e2{
    margin-top:9%;
    margin-left:55px;
    float:left;

}
.etapas #e3{
    margin-top:9%;
    margin-left:55px;



}

.etapas #imagenesE2
{
    margin-top:3%;

}

.etapas #e4{
    margin-left:50px;
}
.etapas #e5{
    margin-left:51px;
}

.etapas #e6{
    margin-left:51px;
}

#e7{
    margin-top: 3%;
    margin-left: 53px;
}

#e8{
    margin-left: 50px;
}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.clearfix { display:block; }

#index-header{
    background-image: url('fondo_index.png');
    text-align: center;
    vertical-align: center;
    margin: auto;
    height: 380px;

}

.titleIndex {
    font-family: 'museo_sans300';
    color:  #ffffff;
    font-size: 60px; /* Aproximación debida a la sustitución de la fuente */
    line-height: 54px; /* Aproximación debida a la sustitución de la fuente */
    text-align: center;
    font-weight: lighter;
}

.descriptionIndex {
    font-family: 'museo_sans300';
color:  #ffffff;
font-size: 27px; /* Aproximación debida a la sustitución de la fuente */
text-align: center;
width: 796px;
display: inline-block;
font-weight: lighter;
}

.wrapper-description{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.img-index {
  width: 100%;
  text-align: center;
  
  display: inline;
}

.img-index img {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 50px;
}
