header, footer {
	width: 970px;
	height: 100px;
	margin: 0 auto;
}

body{
	background-color:#1b1b1b;
	width:100%;
	margin: auto;

}
html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */

}
a:hover{
	opacity:0.5;
}

#container{
	margin:auto;
	width:970px;
	z-index:0;
	position:relative;
}

a {
	text-decoration:none;
}



.clearfix:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
.clearfix { display:block; }

#cont-header{
	width: 100%;
	background-color:#ffffff;
	position: fixed;
	z-index: 99;
}

header{
	width:970px;
	height:100px;
	margin: 0 auto;

}


header #Logo{
	margin-top:17px;
	float:left;



}
header #TextMenu{

	margin-left: 882px;
	margin-top: -38px;
	float: left;
	font-family: 'museo_sans500';

}
header #MenuIcon{
	margin-top: -40px;
	float: right;
}

.footer {
	background-color:#131313;
	margin-top: 30px;
}

.Menu{
	width:400px;
	margin: auto;
	display:none;

}

.Menu li{
	color:#ffffff;
	size:20px;

}

.info img {
	margin-top: 30px;
}

.info-footer{
	position: relative;
	margin-top: -30px;
	margin-left: 60px;
	color: #bababa;
	font-size: 14px;
	font-family: 'museo_sans500';
}

.social {
	margin-left: 350px;
}

.twitter{
	margin-left: 10px;
	color: #55acee;
}

.instagram {
	margin-left: 10px;
	color: #3f729b;
}

#img:hover{
	-webkit-transition: .5s ease-out;
}

.video {
	display: inline-block;
	background-color: #000;
	margin-left: 10px;
}

.video.centrado {
	width: 100%;
	margin-bottom: 20px;
	margin-top: 20px;
	background-color: transparent;

}

.center {
	text-align: center;
	margin-top: 20px;
}

.video.largo {
	width: 100%;
	margin-top: 20px;
}

.text-info {
	font-family: 'Georgia';
    color: #ffffff;
    font-size: 21px;
    line-height: 1.186;
}
.cursive {
	font-style: italic !important;
}
.no-cursive {
	font-style: normal !important;
	font-family: 'museo_sans500';
}

.margin-top70 {
	margin-top: 70px;
}

.text-center {
	text-align: center;
}

.container-home {
	width: 50%;
	color: white;
	font-size: 24px;
	font-family:  'museo_sans500';
	margin: 75px auto;
	line-height: 31px;

}

.button-home {
	width: 357px;
	padding: 20px;
	border-radius: 100px;
	border: none;
    color: white;
    font-family: 'museo_sans500';
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 30px;
}

.tutorial {
	background-color: #b9453b;
}

.app {
	background-color: #2a536f;
}

.container-left {
	width: 50%;
    float: right;
}

.container-left {
	width: 50%;
    float: left;
}

.logo-img {
	width: 300px;
}

.justify {
	text-align: justify;
}

.mg-top20 {
	margin-top: 20px;
}

.mg-top0 {
	margin-top: 0 !important;
}

.font-lg {
	font-size: 36px !important;
}

.display-block {
	display: inline-block;
}

.height-200 {
	height: 200px !important;
}