body{
    background-color:#1b1b1b;
    width:100%;
    margin: auto;

}
html, body{
	overflow-x: hidden; /* prevents horizontal scroll bars */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* disable webkit tap highlight */
	height: 100%; /* fixes focus scrolling in Safari (OS X) */

}
a:hover{
    opacity:0.5;
}

#container{
    width: 970px;
    margin:auto;
    <!--height: 1943px;-->



}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.clearfix { display:block; }

#cont-header{
    width: 100%;
    background-color:#ffffff;
    position: fixed;
    z-index: 99;
}

header{
  width:970px;
  height:100px;
  margin: 0 auto;

}


header #Logo{
    margin-top:17px;
    float:left;



}
header #TextMenu{

    margin-left: 882px;
    margin-top: -38px;
    float: left;
    font-family: 'museo_sans500';

}
header #MenuIcon{
   margin-top: -40px;
    float: right;


}
.Menu{
    width:400px;
    margin: auto;
    display:none;

}

.Menu li{
    color:#ffffff;
    size:20px;

}


#imgEtapa {
    margin-top:100px;
    width:100%;





 }
 .IntroT {

    position:relative;
    margin-top:-100px;

    width:100%;

}


#nombreEtapa{
    color:#fff;
    font-family:'museo_sans500_italic';
    font-size:31;
    margin-left:40px;


}
#fecha{
    color:#fff;
    font-family: 'museo_sans700';
    font-size:55;

}
#Introduccion{

    width: 968px;
    <!-- Esto de verdad era 174 peor no entra-->
    height: 282px;
    margin-top:115px;

}

.Introduccion2{

    margin-top: 20px;
text-align: justify;
width: 968px;
    margin-bottom:50px;
}

#texto{

    font-family: 'museo_sans500';
    color: #c0c0c0;
    font-size: 16.12px;
    line-height: 28px;


}
#Titulo{
    font-family: 'museo_sans500';
    color:  #c0c0c0;
    font-size: 40.3px; /* Approximation due to font substitution */
    line-height: 1.025; /* Approximation due to font substitution */
}

.TextoPrincipal{
     width: 968px;
     margin-top:40px;
}

#div1,#div3,#div5,#div7,#div9{

    width: 973px;
    height: 103px;

}
a{


 text-decoration:none;

}

#div1,#div8{
    background-color:  #4b8087;
}
#div2,#div7{
     background-color:  #093449;
}
#div3,#div6{
    background-color:  #363636;;
}

#div4, #div9{
    background-color:   #eb4c41;
}
#div5, #div10{
    background-color:   #a89363;
}


#div2,#div4, #div6,#div8,#div10{

    width: 973px;
    height: 103px;


}

#flecha,#flecha2,#flecha3,#flecha4,#flecha5,#flecha6,#flecha7,#flecha8,#flecha9,#flecha10{
    margin-top:25px;
    float:right;
    margin-right:51px;
}



#tituloFragmento{
    font-family: 'museo_sans500';
    color:  #ffffff;
    font-size: 20px;
    margin-left: 30px;
    width: 328px;
    margin-top:41px;
    float:left;
}



#texto1,#texto3,#texto5,#texto7,#texto9{

    width: 973px;
    color: #fff;
    font-family: 'museo_sans300';
    font-size: 16px;
    margin-top:15px;
    margin-bottom:15px;
    text-align:justify;
    line-height:24px;


}

#texto2,#texto4,#texto6,#texto8,#texto10{
     width: 973px;
    color: #fff;
    font-family: 'museo_sans300';
    font-size: 16px;
    margin-top:15px;
    margin-bottom:15px;
    text-align:justify;
    line-height:24px;

}

.clearfix:after {
    clear:both;
    content:".";
    display:block;
    font-size:0;
    height:0;
    visibility:hidden;
}
.clearfix { display:block; }

#SigEtapa{
    height: 150px;
margin-top: 70px;
margin-left: 340;
}
#SiguienteEtapa, a{
    color: #bbb;
    font-family:'museo_sans500';
    font-size:16px;
}
